* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: reg;
  src: url(OpenSauceOne-Regular.woff);
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(139deg, rgba(2,0,36,1) 23%, rgba(238,127,222,1) 50%, rgba(0,0,0,1) 81%);
  background-size: auto;
}

.box {
  width: 40%;
  padding: 55px 70px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.285);
  backdrop-filter: blur(100px);
  border-radius: 15px;
  border: 1px solid grey;
}

.box h1 {
  font-size: 35px;
  color: white;
  text-align: left;
  letter-spacing: 5px;
  font-weight: bolder;
  font-family: reg;
  text-shadow: black 2px 5px 10px;
}

.data {
  width: 100%;
  margin-top: 30px;
  /* border: 1px solid white; */
}

.data input {
  width: 85%;
  height: 20px;
  padding: 10px 20px;
  border-radius: 15px 0 0 15px;
  border: none;
  font-family: reg;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.data button {
  width: 10%;
  height: 40px;
  position: absolute;
  border-radius: 0px 10px 10px 0px;
  float: right;
  border: none;
  padding: 12px 0;
  background: orangered;
  color: black;
  letter-spacing: 1.5px;
  font-weight: 700;
}

#task {
  width: 100%;
  align-items: center;
  margin-top: 5%;
  max-height: 400px;
}

#task li {
  background-color: rgba(255, 255, 255, 0.747);
  position: relative;
  backdrop-filter: blur(100px);
  margin-top: 15px;
  padding: 0 75px;
  height: 60px;
  width: 83%;
  display: flex;
  align-items: center;
  font-family: reg;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 30px;
  cursor: pointer;
}

li::before {
  content: "";
  background-image: url(img/icons8-circle-32.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 25px;
}

#task li span {
  position: absolute;
  right: 25px;
  font-size: 20px;
  font-weight: 100;
  color: rgb(66, 62, 60);
  border-radius: 20px;
  height: 26px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

#task li span:hover {
  background: rgba(112, 111, 110, 0.419);
  color: black;
}

#task li.checked {
  color: rgb(159, 159, 159);
  text-decoration: line-through;
}

.checked::before {
  background-image: url(img/icons8-checkmark-32.png);
  height: 32px;
  width: 32px;
}

@media only screen and (max-width: 400px) {
  .box {
    width: 65vw;
    padding: 40px 30px;
  }
  .box h1 {
    font-size: 20px;
    width: 100%;
  }
  .data {
    height: 30px;
    margin-top: 35px;
    left: -40px;
    width: 100%;
  }
  .data input {
    width: 55%;
    height: 28px;
    padding: 3px 20px;
  }
  .data button {
    height: 35px;
    width: 25%;
    font-size: 10px;
    position: absolute;
    border-radius: 0px 20px 20px 0px;
  }
  #task li {
    font-size: 10px;
    height: 25px;
    width: 86%;
    padding: 0 0 0 40px;
  }
  #task li span {
    right: 5px;
  }
  li::before {
    background-image: url(img/phone\ un.png);
    height: 15px;
    width: 15px;
    left: 10px;
  }
  .checked::before {
    background-image: url(img/phone\ check.png);
    height: 15px;
    width: 15px;
  }
}
